{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Облік Відвідування{% endblock meta_title %}
{% block title %}Облік Відвідування{% endblock title %}
{% block content %}
    <!-- Mouth -->
    <h5 class="text-center"><a href="#">&larr;</a> Жовтень 2014 <a href="#">&rarr;</a></h5>
    <div>
        <!-- Start Students Listing -->
        <table class="table table-hover table-bordered">
            <tr>
                <th><a href="#"></a>#</th>
                <th><a href="#"></a>Студент</th>
                <th><a href="#"></a>Ср 1</th>
                <th><a href="#"></a>Чт 2</th>
                <th><a href="#"></a>Пт 3</th>
                <th><a href="#"></a>Сб 4</th>
                <th><a href="#"></a>Нд 5</th>
                <th><a href="#"></a>Пн 6</th>
                <th><a href="#"></a>Вт 7</th>
                <th><a href="#"></a>Ср 8</th>
                <th><a href="#"></a>Чт 9</th>
                <th><a href="#"></a>Пт 10</th>
                <th><a href="#"></a>Сб 11</th>
                <th><a href="#"></a>Нд 12</th>
                <th><a href="#"></a>Пн 13</th>
                <th><a href="#"></a>Вт 14</th>
                <th><a href="#"></a>Ср 15</th>
                <th><a href="#"></a>Чт 16</th>
                <th><a href="#"></a>Пт 17</th>
                <th><a href="#"></a>Сб 18</th>
                <th><a href="#"></a>Вс 19</th>
                <th><a href="#"></a>Пн 20</th>
                <th><a href="#"></a>Вт 21</th>
                <th><a href="#"></a>Ср 22</th>
                <th><a href="#"></a>Чт 23</th>
                <th><a href="#"></a>Пт 24</th>
                <th><a href="#"></a>Сб 25</th>
                <th><a href="#"></a>Нд 26</th>
                <th><a href="#"></a>Пн 27</th>
                <th><a href="#"></a>Вт 28</th>
                <th><a href="#"></a>Ср 29</th>
                <th><a href="#"></a>Чт 30</th>
                <th><a href="#"></a>Пн 31</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="#">Віталі Подоба</a></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#">Корост Андрій</a></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#">Притула Тарас</a></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
        </table>
        <!-- End Students Listing -->
    </div>
{% endblock content %}