/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Status Message */
.alert {
    margin-top: 10px;
    margin-bottom: 0;
}

/* footer */
#footer {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}

/* Groups Selector */
#group-selector {
    margin-top: 30px;
    margin-bottom: 10px;
}

#group-selector select{
    margin: 0;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    color: #555555;
}

/*  Add Student Button */
.col-sm-2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/*  Start Students Listing */
.table {
    margin-bottom: 10px;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* validation */
.help-block {
    color: red;
    font-size: 9pt;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}